.Country {
  stroke: black;
  stroke-width: 0.3;
  opacity: 0.9;
}
.Country.selected, .country.selected:hover {
  stroke-width: 3px;
}
.Country:hover {
  stroke-width: 2px;
  cursor: pointer; 
}

#bar {
  text {
    font-size: 14px;
  }

  line {
    stroke-width: 4px;
    stroke: rgb(21, 74, 153);
  }

  circle {
    fill: rgb(21, 74, 153);    
  }
}