$blue: #4480ca;
$countries-polyline: #88419D;

body {
  font-family: sans-serif;
  background: #232323;
  color: white;
}

body text{
  fill: white;
}

body.light-mode{
  background:white;
  color:#444;
}

body.light-mode text{
  fill:#444;
}

#root{
  display:flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  position:absolute;
  width:100%;
  height:100%;
  margin:0;
  box-sizing: border-box;
}

/* switch mode*/
.switch-container{
  position: relative;
}
.model-label{
  padding: 0 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
  vertical-align:middle;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slidermode {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slidermode:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slidermode {
  background-color: $blue;
}

input:focus + .slidermode {
  box-shadow: 0 0 1px $blue;
}

input:checked + .slidermode:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(52px);
}

/* Rounded sliders */
.slidermode.sliderround {
  border-radius: 34px;
}

.slidermode.sliderround:before {
  border-radius: 50%;
}

/* endswitch mode*/

.view-container {
  padding:10px;
  box-sizing: border-box;
  height: calc(50% - 28px); // metà schermo meno metà toolbar
}

#map-container{
  width: calc(50% - 100px);

  #map {
    height: 100%;
    width: 100%;
  }
}

#age-and-role {
  display:inline-block;
  padding-top: 20px;
  max-width: 200px;
  height: calc(50% - 28px);
  text-align: center;
}

#radar-and-bar {
  width: calc(50% - 100px);

  #radar_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60%;
  }

  #bar_container {
    height: 40%;
  }

  #radar {
    width: calc(100% - 140px);
    height: 100%;
  }

  #bar {
    width: 100%;
    height: 100%;
  }
}

#toolbar {
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
}

#bubble-settings {
  width: 50%;
  display: flex;
  justify-content: center;
}

#scatter-settings {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sampling-slider-wrapper {
  width: 50%;
}

.col-one-quarter{
  width: 50%;

  #bubble, #scatter, .scatter_container {
    height: 100%;
    width: 100%;
  }
}

/* Button */
.button{
  border: 2px solid #394a6d;
  height:40px;
  line-height:40px;
  color: white;
  background: #394a6d;
  display: inline-block;
  font-size:20px;
  border-radius:5px;
  padding: 0 40px;
  vertical-align: middle;
  margin-left:20px;
  cursor:pointer;
}

.button:hover{
  background: #1f293e;
}

/*
.filter-box{
  width:230px;
}
*/


/* Select box */

.scale-square{
 display:inline-block;
 width: 20px;
 height:20px;
}
*,
*:after,
*:before {
  box-sizing: border-box;
}


.custom-select-wrapper {
  position: relative;
  user-select: none;
  width: 100%;
  /*max-width:250px;*/
  display:inline-block;
  vertical-align: middle;
}

#bubble-settings .custom-select-wrapper{
  max-width:180px;
}

.custom-select {
  display: flex;
  flex-direction: column;
  border-width: 0 2px 0 2px;
  border-style: solid;
  border-color: #394a6d;
}

.custom-select__trigger {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 5px 10px;
  font-size: 18px;
  font-weight: 300;
  color: #3b3b3b;
  line-height: 10px;
  background: #ffffff;
  cursor: pointer;
  border-width: 2px 0 2px 0;
  border-style: solid;
  border-color: #394a6d;
}
.off .custom-select__trigger {
  background: lightgray !important;
}
#bubble-settings .custom-select__trigger{
  font-size:14px;
  padding:0 10px;
}
.custom-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  border: 2px solid #394a6d;
  border-top: 0;
  background: #fff;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
  max-height: 300px;
  overflow-y: auto;
}

.custom-select.open .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.custom-option {
  position: relative;
  display: block;
  padding: 5px 10px;
  font-size: 18px;
  font-weight: 300;
  color: #3b3b3b;
  height:40px;
  cursor: pointer;
  transition: all 0.5s;
  text-align:left;
}

#bubble-settings .custom-option{
  font-size:14px;
  padding:0 10px;
  height: initial;
}

.custom-option:hover {
  cursor: pointer;
  background-color: #b2b2b2;
}

.custom-option.selected {
  color: #ffffff;
  background-color: #305c91;
}

.arrow {
  position: relative;
  height: 15px;
  width: 15px;
}

.arrow::before,
.arrow::after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 0.15rem;
  height: 100%;
  transition: all 0.5s;
}

.arrow::before {
  left: -5px;
  transform: rotate(45deg);
  background-color: #394a6d;
}

.arrow::after {
  left: 5px;
  transform: rotate(-45deg);
  background-color: #394a6d;
}

.open .arrow::before {
  left: -5px;
  transform: rotate(-45deg);
}

.open .arrow::after {
  left: 5px;
  transform: rotate(45deg);
}

.role_img{
  display:inline-block;
  width: 28px;
  height: 28px;
  vertical-align:middle;
}
.role_name_container{
  display:inline-block;
  vertical-align:middle;
  line-height: 28px;
  margin-left: 10px;
}


/* Range bar */
/*customised range*/ input[type="range"].range
{
  cursor: pointer;
  width: 100px !important;
  -webkit-appearance: none;
  z-index: 200;
  width:50px;
  border: 1px solid #e6e6e6;
  background-color: #e6e6e6;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e6e6e6), to(#d2d2d2));
  background-image: -webkit-linear-gradient(right, #e6e6e6, #d2d2d2);
  background-image: -moz-linear-gradient(right, #e6e6e6, #d2d2d2);
  background-image: -ms-linear-gradient(right, #e6e6e6, #d2d2d2);
  background-image: -o-linear-gradient(right, #e6e6e6, #d2d2d2);
  margin-left: -35px;
}

/*customised range when focusing on input */ input[type="range"].range:focus
{
  border: 0 !important;
  outline: none !important;
}

/*customised range slider icon*/ input[type="range"].range::-webkit-slider-thumb
{
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  margin: -5px 0;
  background-color: $blue;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4DDBFF), to(#00CCFF));
  background-image: -webkit-linear-gradient(right, #4DDBFF, #00CCFF);
  background-image: -moz-linear-gradient(right, #4DDBFF, #00CCFF);
  background-image: -ms-linear-gradient(right, #4DDBFF, #00CCFF);
  background-image: -o-linear-gradient(right, #4DDBFF, #00CCFF);
}

/*setting round corners to the range */ input[type="range"].round {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

/*setting round corners to the range slider icon*/ input[type="range"].round::-webkit-slider-thumb {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
}

/* set range from 0 - 1 vertically (lowest on top) */ .vertical-lowest-first
{
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -o-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}

.range-legend{
  width: 140px;
}

.rang-top, .rang-middle, .rang-bottom{
  position:absolute;
  font-size:10px;
  margin-left: -30px;
}
.rang-top{
  margin-top:6px;
}
.rang-middle{
  margin-top:46px;
}
.rang-bottom{
  margin-top:85px;
}

.rang-adjust{
  margin-top:45px;
}

.radar-legend{
  font-size:12px;
  margin-bottom:15px;
}
.radar-legend div{
  padding: 2px 0;
}

.radar-legend-square{
  width: 12px;
  height: 12px;
  display:inline-block;
}

#radar-player-legend .radar-legend-square {
  background: $blue;
}

#radar-countries-legend .radar-legend-square {
  background: $countries-polyline;
}

.height-250{
  height:250px;
}

.btn{
  height: 36px;
  width:100px;
  text-align: center;
  border: 2px solid #394a6d;
  color: #fff;
  background: #394a6d;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}
.btn:hover{
  background: #5670a6;
}

/* Scatterplot settings */
/* The container */
.slct-container {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  line-height: 36px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: top;
  margin-right:10px;
}

/* Hide the browser's default checkbox */
.slct-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.slct-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 36px;
  width: 36px;
  border: 2px solid #394a6d;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.slct-container:hover input ~ .slct-checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.slct-container input:checked ~ .slct-checkmark {
  background-color: #394a6d;
}

/* Create the checkmark/indicator (hidden when not checked) */
.slct-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.slct-container input:checked ~ .slct-checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.slct-container .slct-checkmark:after {
  left: 11px;
  top: 5px;
  width: 10px;
  height: 20px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.what-axes{
  display: block;
  height: 20px;
  text-align: center;
  color: grey;
}

#zoom-button {
  text-align:center;
  opacity:20%;
  width: 50%;

  img {
    width: 28px;
    height: auto;
  }

  span {
    display: block;
    font-size: 12px;
    padding:5px;
  }

  #button-wrapper {
    display: inline-block;
  }
}

#zoom-button.enabled {
  opacity:100%;

  #button-wrapper {
    cursor: pointer;
  }
}

  // age slider style
.slider-container {
  position: relative;
  top: 20px;
  text-align: center;

  .slider {
    pointer-events: none;
    margin: 0px;
    cursor: pointer;
    /*width:200px;*/

    padding-left: 30%;
    padding-right: 30%;
    /*height:6px;*/

    background-color: #afafaf;
    border-radius: 10px;
    box-sizing: border-box;
  }

  .slider.focusable {
    border: 1px solid #222
  }

  .thumb {
    cursor: pointer;
    border-color: white;
    border-style: solid;
    /*border-width:4px; width:16px; height:16px;*/

    background-color: $blue;
    border-radius: 50%;
    position: absolute;
    /*top:-6px;left:50px;*/
  }

  .track {
    pointer-events: none;
    height: 100%;
    background-color: $blue;
  }

  .container {
    position: relative;
    margin: 200px auto;
    height: 30px;
    width: 220px;
  }

  .output {
    pointer-events: none;
    margin: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    position: absolute;
    top: -45px;
    ;
  }

  .output p {
    pointer-events: none;
    font-size: 14px;
    text-align: center;
  }
}

.loader {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 0.7s linear infinite;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-40px,-40px);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#main {
  visibility: hidden;
}